/*mystyle4.css/Events*/
* {
    margin: 0;
    padding: o;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    background-attachment: scroll;
    background-size: ;
    background-repeat: no-repeat;



}


header  h1 {
    font-family: "DejaVu Serif Display";
    padding: .5em;
    margin: 0em 0em;
    text-align: center;
    border: 3px groove #0f6674;
    color: moccasin;
    background-image:
            -webkit-linear-gradient(30deg, #FFFFFF 0%, #0f6674 30%, white 40%, #0f6674 80%, #0f6674 100%);
    background-image: linear-gradient(30deg, #FFFFFF 0%, #0f6674 30%, white 40%, #0f6674 80%, #0f6674 100%);
}


#mobile_menu {
    display: none;
}


.navbar-nav, .nav-item {
    margin: .2em;
    background-color: #0f6674 ;
}


.responsive {
    width: 1em;
    height: auto;
}


img {
    z-index: 9;
    mask-size: 10% 1em;
    margin-left: .2em;
    border-radius: 1.5em;

}


h1 {
    font-family: Georgia;
    color: #491217;
    margin: 1em .8em;
    border-bottom: 2px solid #491217;

}

p {
    color: #491217;
    margin: 0em 2em;
    font-family: Garamond;
    width: 40%;
    border-bottom: 1px solid #491217;
}

h2 {
    font-family: Monospaced;
    color: #491217;
    margin: 1em .8em;

}

h3 {
    margin: .5em .8em;
    width: 30%;
}
.image1 {
    margin: .5em 1.5em;
    width: 35%;

}
.image2 {
    margin: .5em 1.5em; ;
    width: 35%;
}

.image3 {
    margin: .5em 1.5em;
    width: 35%;
    height: 40%;


}
h5, h6 {
    margin: .5em 1.5em;

}

.p1 {
    color: #491217;
    margin: .5em 2em;
    font-family: Garamond;
    width: 40%;
    border-bottom: 1px solid #491217;

}



.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #0f6674;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 1rem;
}




















